<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Ваш каталог "Pragmatic"</h1>

<% if @counter >= 5 %>
<p class="counter">Page was showed <%= pluralize(@counter, "time") %></p>
<% end %>

<% @products.each do |product| %>
    <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
            <span class="price"><%= number_to_currency(product.price, 
            :unit => " грн.",
            :separator => ",",
            :delimiter => " ",
            :format => "%n%u") %></span>
            <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
        </div>
    </div>
<% end %>